#header-accesories{
	background:url(../images/catalogo/header-accesories.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-advance{
	background:url(../images/catalogo/header-advance.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-e_brochure{
	background:url(../images/catalogo/header-e_brochure.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-labcoats{
	background:url(../images/catalogo/header-labcoats.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-pants{
	background:url(../images/catalogo/header-pants.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-sales{
	background:url(../images/catalogo/header-sales.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-shoes{
	background:url(../images/catalogo/header-shoes.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-tops{
	background:url(../images/catalogo/header-tops.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}
#header-trends{
	background:url(../images/catalogo/header-trends.jpg) no-repeat;
	width:660px;
	height:225px;
	left:5px;
	top:0;
	background-color:#a7dddd;
	z-index:10;
}