
/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h2{margin:10px 0;}

#faq {
    margin: 0;
    padding: 0;
}

#faq li{
	font: small/1.4 Helvetica,Arial,sans-serif;
	background-color: white;
	list-style-type:none;
	margin-bottom:10px;
	padding:3px;
}

#faq h3{
	background:#369 url('../img/plus.gif') center left no-repeat;
	color:#FFF;
	padding:3px;
	padding-left:20px;
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        margin: 0px;
}

#faq p{margin:3px 3px;}
