@charset "utf-8";
/* CSS Document */

body{
	background:url(img/patron.jpg);
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	}
a{
	text-decoration:none;
	color:#0eb9b8;
	}
a:hover{
	text-decoration:underline;
	color:#0eb9b8;
	}
#contenido{
	width:895px;
	height:808px;
	margin-left:auto;
	margin-right:auto;
	background:url(img/fondo.jpg) no-repeat;
	margin-top:20px;
	}
.texto_arriba{
	font-size:12px;
	padding-top:3px;
	margin-left:10px;
	}
	
.texto_medio{
	font-size:35px;
	line-height:35px;
	font-weight:bold;
	margin-top:320px;
	margin-left:10px;
	}
	
.minitexto_medio{
	font-size:12px;
	margin-left:10px;
	margin-top:90px;
	}
.texto_abajo{
	font-size:11px;
	text-align:justify;
	margin-left:10px;
	margin-right:10px;
	margin-top:20px;
	line-height:11px;
	}
.noseve{
	display:none;
	}