/* ---- ( iTunes CSS ) ---- */
table.tabular {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;	
}
table.tabular a {
	text-decoration: underline;
}
table.tabular a:visited {
	text-decoration: none;
}
tr.tabular.odd {
	background-color: #ebf3ff;
}
tr.tabular a {
	color: #000000;
}
tr.tabular:hover a {
	color: #ffffff;
}
tr.tabular:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}
caption.tabular {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-left: -1px;
	background: #ffffff url(../img/captop.jpg) repeat-x;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
th.tabular {
	font-size: 105%;
	color: #000;
	background: #ffffff url(../img/tbar.gif) repeat-x;
	height: 33px;
}
/*
th.tabular:hover {
	background: #ffffff url(../img/tbov.gif) repeat-x;
	
}
*/
tr.tabular {
	vertical-align: top;
}
tr.tabular,th.tabular,td.tabular {
	padding: .20em;
}
td.tabular {
	border-left: 1px solid #dadada;
}
tfoot tr.tabular {
	background: #fff url(../img/bbar.gif) repeat-x;
}
tfoot td.tabular, tfoot.tabular th.tabular{
	color: #000;
	border: 0px;
}
